{% extends 'base.html' %}
{% load static %}

{% block title %}Поиск студента{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'search_user.css' %}">

<div class="search-container">
    <h2>Результаты поиска</h2>
    
    {% if students %}
        <ul class="block_student_card">
            {% for student in students %}
                <li class="student-card">
                    <div class="avatar-container">
                        {% if student.avatar %}
                            <img src="{{ student.avatar.url }}" alt="Аватар">
                        {% else %}
                            <img src="{% static 'no_avatar.jpeg' %}" alt="Аватар">
                        {% endif %}
                    </div>
                    <strong>{{ student.surname }} {{ student.name }}</strong>
                    <p><span>Группа:</span> {{ student.group }}</p>
                    <p><span>Факультет:</span> {{ student.faculty }}</p>
                    <p><span>Телефон:</span> {{ student.phone }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-results">Студенты не найдены</p>
    {% endif %}
</div>
{% endblock %}