{% extends "base.html" %}
{% load static %}

{% block title %}Часто задаваемые вопросы{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'FAQ.css' %}">
</head>
<div class="faq-container">
    <h1>Часто задаваемые вопросы</h1>
    <div class="faq-list">
        {% for faq in faqs %}
            <div class="faq-item">
                <details>
                    <summary class="faq-question">
                        <span>{{ faq.question }}</span>
                        <span class="icon">+</span>
                    </summary>
                    <div class="faq-answer">
                        <p>{{ faq.answer|linebreaks }}</p>  <!-- Используем фильтр linebreaks -->
                    </div>
                </details>
            </div>
        {% empty %}
            <p class="no-faqs">Пока нет вопросов.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}