{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Главная страница</title>
</head>
<body>
    <div class="content">
        
        
        <div class="header">
        
        </div>
        <div class="left_panel">
            <div class="schebule">
                <img src="{% static '/media/ads.png' %}">
            </div>
        </div>
        <div class="avatar">
            {% if user.profile.avatar %}
                <a href="{% url 'profile' %}">
                    <div class="avatar-wrapper">
                        <img src="{{ user.profile.avatar.url }}" alt="Аватар пользователя" class="avatar"/>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'profile' %}">
                    <div class="no-avatar">Нет загруженной аватарки</div>
                </a>
            {% endif %}
        </div>
    </div>
</body>
</html>
