{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Добро пожаловать на "ШРКТЭ Портал"</title>
</head>
<body>
    <div class="shackty" >
        <img src="{% static '/media/shackty.png' %}">
    </div>
    <form method="POST">
        <h1>Добро пожаловать!</h1>
        {% csrf_token %}
        {{ user_input }}
        {{ form.as_p }}
        <button type="submit">Войти</button>
        <a href="/register/">Нет аккаунта?</a>
    </form>
    <div class="shrkt">
        <img src="{% static '/media/shrkt.png' %}">
    </div>
</body>
</html>