{% extends "base.html" %}
{% load static %}
{% block title %}Расписание занятий{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'schedule.css' %}">
<h1>Расписание занятий</h1>

<!-- Выбор группы -->
<div class="group-select">
    <p>Выберите группу</p>
    <select id="group-select" onchange="location = this.value;">
        <option value="{% url 'schedule' %}">Все группы</option>
        {% for group_id, group_name in groups %}
            <option value="{% url 'schedule_group' group_id %}" 
                {% if group_id == selected_group %}selected{% endif %}>
                {{ group_name }}
            </option>
        {% endfor %}
    </select>
</div>

<!-- Таблица с расписанием -->
{% for day, lessons in schedule_by_day.items %}
    <h2>{{ day }}</h2>
    <table>
        <thead>
            <tr>
                <th>Время</th>
                <th>Предмет</th>
                <th>Преподаватель</th>
                <th>Аудитория</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.lesson_time.start_time }} - {{ lesson.lesson_time.end_time }}</td>
                    <td>
                        {% for subject in lesson.subjects.all %}
                            {{ subject.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Нет данных
                        {% endfor %}
                    </td>
                    <td>{{ lesson.teacher }}</td>
                    <td>{{ lesson.room }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет занятий</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}